@model FinanceiroLancamentoModel
@{
    ViewData["Title"] = "Lançamentos";
    ViewData["SubTitle"] = "";
    ViewData["SubMenu"] = "true";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
    IList<WebApp.Model.ExtratoItem> lancamentos = ViewBag.Lancamentos;
}
@section Header{
    <link href="@Url.Content("~/assets/plugins/custom/datatables/datatables.bundle.css")" rel="stylesheet" type="text/css" />
}
@section Scripts{

    <script src="@Url.Content("~/assets/plugins/custom/datatables/datatables.bundle.js")"></script>
    <script src="@Url.Content("~/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js")"></script>

    <script>

        var KTform1 = function () {
            var validation;
            var form = KTUtil.getById('idForm');

            validation = FormValidation.formValidation(
                form,
                {
                    fields: {
                        descricao: {
                            validators: {
                                notEmpty: {
                                    message: 'A descrição é necessária.'
                                }
                            }
                        },
                        valorRealString: {
                            validators: {
                                notEmpty: {
                                    message: 'O valor é necessário.'
                                },
                            }
                        },
                        data: {
                            validators: {
                                notEmpty: {
                                    message: 'A data contábil é necessária.'
                                },
                            }
                        },
                        token: {
                            validators: {
                                notEmpty: {
                                    message: 'O token é necessário.'
                                },
                            }
                        }
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        bootstrap: new FormValidation.plugins.Bootstrap(),
                        submitButton: new FormValidation.plugins.SubmitButton(),
                        defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                    }
                }
            );

            $('.salvar').on('click', function (e) {
                e.preventDefault();
                validation.validate().then(function (status) {
                    if (status == 'Valid') {
                        KTApp.blockPage({
                            overlayColor: 'blue',
                            opacity: 0.1,
                            state: 'primary',
                            message: 'Aguarde...'
                        });

                        $('#acao').val('SALVAR');
                        form.submit();

                    } else {
                        swal.fire({
                            text: "Desculpe, parece que foram detectados alguns erros, tente novamente...",
                            icon: "error",
                            buttonsStyling: false,
                            confirmButtonText: "OK",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        });
                        KTApp.unblockPage();
                    }
                });
            });

            $(".cancelar").on('click', function (e) {
                e.preventDefault();
                Swal.fire({
                    title: "Tem certeza?",
                    text: "Todos os dados digitados serâo perdidos!",
                    icon: "warning",
                    showCancelButton: true,
                    cancelButtonText: "Não",
                    confirmButtonText: "Sim"
                }).then(function (result) {
                    if (result.value) {
                        $(window.location).attr('href', '@Url.Action("Index", "Lancamentos")');
                    }
                });
            });

            // menu lateral dos tipos
            var _initAside = function () {
                offcanvas = new KTOffcanvas('kt_profile_aside', {
                    overlay: true,
                    baseClass: 'offcanvas-mobile',
                    toggleBy: 'kt_subheader_mobile_toggle'
                });
            }

            var card = new KTCard('kt_card_extrato');
            card.on('reload', function (card) {           
                KTApp.block(card.getSelf(), {
                    overlayColor: '#ffffff',
                    type: 'loader',
                    state: 'primary',
                    opacity: 0.3,
                    size: 'lg'
                });
                // update the content here
                setTimeout(function () {
                    KTApp.unblock(card.getSelf());
                }, 2000);
            });

            return {
                // public functions
                init: function () {
                    _initAside();
                }
            };
        }();

        var KTBootstrapDatepicker = function () {

            var bootstrapDatepicker = function () {
                const hoje = new Date();
                hoje.setDate(hoje.getDate() - 7);
                var dataLim = (`00${hoje.getDate()}`).slice(-2) + '/' + (`00${hoje.getMonth() + 1}`).slice(-2) + '/' + hoje.getFullYear();

                $('#data').datepicker({
                    format: "dd/mm/yyyy",
                    language: "pt-BR",
                    startDate: dataLim,
                    todayHighlight: true,
                    clearBtn: true,
                    autoclose: true,
                    todayBtn: true,
                    orientation: "bottom left",
                    //changeMonth: true,
                    //changeYear: true,
                    //dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
                    //dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    //dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    //monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    //monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
                });

            }

            return {
                // public functions
                init: function () {
                    bootstrapDatepicker();
                }
            };
        }();

        function limpar() {
            const hoje = new Date();
            var dtFormatada = (`00${hoje.getDate()}`).slice(-2) + '/' + (`00${hoje.getMonth() + 1}`).slice(-2) + '/' + hoje.getFullYear();

            $('#id').val(0);
            $('#idFinanceiroConta').val(0);
            $('#idFinanceiroLancamentoTipo').val(1);
            $('#idAnuncio').val(0);
            $('#idReferencia').val(0);
            $('#descricao').val("");
            $('#valorReal').val("");
            $('#data').datepicker().datepicker('setDate', dtFormatada);
            $('#token').val("");
            $('#observacao').val("");
        }

        $('#kt_datatable').DataTable({
            "ordering": true,
            "info": false,
            "scrollY": "400px",
            "scrollCollapse": true,
            "paging": false,
            "searching": true,
        });

        var table = $('#kt_datatable').DataTable();
        $('#kt_datatable_filter1').on('keyup', function () {
            table.search(this.value).draw();
        });

        jQuery(document).ready(function () {
            KTBootstrapDatepicker.init();
            KTform1.init();

            let dt = new Date('@Model.data');
            let dtFormatada = (`00${dt.getDate()}`).slice(-2) + '/' + (`00${dt.getMonth() + 1}`).slice(-2) + '/' + dt.getFullYear();
            $('#data').datepicker().datepicker('setDate', dtFormatada);

            var table = $('#kt_datatable').DataTable();
            $('#kt_datatable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');

                    KTApp.blockPage({
                        overlayColor: 'blue',
                        opacity: 0.1,
                        state: 'primary',
                        message: 'Aguarde...'
                    });

                    var nome = $('#td' + this.id).text();
                    $('#lblNomeUsuario').text(nome);
                    $('#idUsuario').val(this.id);
                    $('#nomeUsuario').val(nome);

                    KTApp.blockPage({
                        overlayColor: 'blue',
                        opacity: 0.1,
                        state: 'primary',
                        message: 'Aguarde...'
                    });

                    $('#acao').val('SELECIONAR');
                    $('#idForm').submit();              
                }
            });

            // Remove o filtro não customizado do grid
            $('#kt_datatable_filter').hide();

            // Mantem selecionado o usuario
            if ('@ViewBag.IdUsuario' != '0') {
                $('#' + '@ViewBag.IdUsuario').addClass('selected');
            }

            $("#valorReal").inputmask('@ViewBag.MascaraInput', { numericInput: true }
            );    
        });

    </script>
}

<!--begin::Profile Overview-->
<div class="d-flex flex-row">
    <!--begin::Aside-->
    @*<div class="flex-row-auto offcanvas-mobile h-750px h-xl-750px w-400px w-xl-450px" id="kt_profile_aside">*@
    <div class="flex-row-auto offcanvas-mobile" style="height:100%" id="kt_profile_aside">
        <!--begin::Profile Card-->
        <div class="card card-custom card-stretch">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">Lista de usuários</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">selecione para gerar um novo lançamento</span>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body" style="padding: 0px 0px 0px 0px !important;">
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-body ">

                        <div class="row align-items-center">
                            <div class="col-md-12 my-4 my-md-0">
                                <div class="input-icon">
                                    <input type="search" class="form-control " placeholder="Procurar..." aria-controls="kt_datatable" id="kt_datatable_filter1" />
                                    <span>
                                        <i class="flaticon2-search-1 text-muted"></i>
                                    </span>
                                </div>

                            </div>
                        </div>

                        <table class="table table-checkable" id="kt_datatable" width="100px">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Login</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Usuarios != null)
                                {
                                    foreach (UsuarioListaCrudModel item in ViewBag.Usuarios)
                                    {
                                        <tr id="@item.id" value="@item.nome">
                                            <td id="@("td" + item.id)" value='@item.nome'>@item.nome</td>
                                            <td>@item.login</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::Body-->
            <!--<div class="card-footer d-flex justify-content-end">-->
                @*<button type="submit" class="btn btn-light-success mr-2 mt-2 text-right novo">
                        <i class="flaticon-edit-1"></i> Novo
                    </button>*@
            <!--</div>-->

        </div>
        <!--end::Profile Card-->
    </div>
    <!--end::Aside-->
    <!--begin::Content-->
    <div class="flex-row-fluid ml-lg-8" id="dvLancamento">
        <!--begin::Card Extrato-->
        <div class="card card-custom gutter-b"  id="kt_card_extrato">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">@ViewBag.NomeUsuario</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1" id="lblStatus">extrato dos ultimos 30 dias</span>
                </div>
                <div class="card-toolbar">
                    <a href="#" class="btn btn-icon btn-sm btn-light-primary mr-1" data-card-tool="toggle">
                        <i class="ki ki-arrow-down icon-nm"></i>
                    </a>
                    @*<a href="#" class="btn btn-icon btn-sm btn-light-success mr-1" data-card-tool="reload">
                        <i class="ki ki-reload icon-nm"></i>
                    </a>*@
                    @*<a href="#" class="btn btn-icon btn-sm btn-light-danger" data-card-tool="remove">
                        <i class="ki ki-close icon-nm"></i>
                    </a>*@
                </div>
            </div>
            <!--end::Header-->

            <div class="card-body">
                @if (ViewBag.IdUsuario != 0)
                {
                    <div class="accordion accordion-light  accordion-toggle-arrow" id="accordionExample5">
                        @if (ViewBag.Saldos != null && ViewBag.Saldos.Count > 0)
                        {
                            foreach (WebApp.Model.ExtratoItem saldo in ViewBag.Saldos)
                            {
                                <div class="card">
                                    <div class="card-header" id="@("heading" + saldo.idAnuncio)">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="@("#collapse5" + saldo.idAnuncio)">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                @saldo.nomeAnuncio
                                            </div>
                                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5" style="text-align:right">
                                                <span class="text-muted font-weight-bold">Saldo: @saldo.valor</span>
                                            </div>
                                        </div>
                                    </div>
                                    @if (lancamentos != null || lancamentos.Count > 0)
                                    {
                                        var lancamentosAnuncio = lancamentos.Where(x => x.idAnuncio == saldo.idAnuncio).OrderBy(x => x.idAnuncio).ThenByDescending(x => x.data).ToList<WebApp.Model.ExtratoItem>();
                                        if (lancamentosAnuncio != null || lancamentosAnuncio.Count > 0)
                                        {
                                            foreach (WebApp.Model.ExtratoItem lancamento in lancamentosAnuncio)
                                            {
                                                <div id="@("collapse5" + saldo.idAnuncio)" class="collapse" data-parent="#accordionExample5">
                                                    <div class="card-body">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                            <!--begin::Card-->
                                                            <div class="card card-custom gutter-b">
                                                                <!--begin::Body-->
                                                                <div class="card-body pt-2 pb-2">
                                                                    <div class="row">
                                                                        <div class="col-3">
                                                                            <div class="col-12">
                                                                                <span class="text-dark-75 font-weight-bolder mr-2">Date:</span>
                                                                            </div>
                                                                            <span class="text-muted font-weight-bold col-12">@lancamento.data.ToString("dd/MM/yyyy")</span>
                                                                        </div>
                                                                        @*<div class="col-3">
                                                                            <div class="col-12">
                                                                                <span class="text-dark-75 font-weight-bolder mr-2">Anuncio:</span>
                                                                            </div>
                                                                            <span class="text-muted font-weight-bold col-12">Coca Cola</span>
                                                                        </div>*@
                                                                        <div class="col-5">
                                                                            <div class="col-12">
                                                                                <span class="text-dark-75 font-weight-bolder mr-2">Descrição:</span>
                                                                            </div>
                                                                            <span class="text-muted font-weight-bold col-12">@lancamento.descricao</span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <div class="col-12">
                                                                                <span class="text-dark-75 font-weight-bolder mr-2">Valor:</span>
                                                                            </div>
                                                                            <span class="text-muted font-weight-bold col-12">@lancamento.valor</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--end::Body-->
                                                            </div>
                                                            <!--end:: Card-->
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align:center">
                                <div class="text-muted font-weight-bold">Usuário sem movimentação.</div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align:center">
                        <div class="text-muted font-weight-bold">Usuário sem movimentação.</div>
                    </div>
                }
            </div>
        </div>
        <!--end::Card Extrato-->
        <!--begin::Card Lancamento-->
        <div class="card card-custom gutter-b">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark" id="lblNomeUsuario">@ViewBag.NomeUsuario</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1" id="lblStatus">gerar um novo lançamento</span>
                </div>
                <div class="card-toolbar">
                    <button type="submit" class="btn  btn-light-success mr-2 mt-2 text-right salvar">
                        <i class="flaticon-edit-1"></i> Salvar
                    </button>
                    <button type="reset" class="btn btn-light-dark mr-2 mt-2 cancelar">
                        <i class="flaticon-cancel"></i> Cancelar
                    </button>
                    <a href='@Url.Action("Index", "Home")' class="btn btn-light-primary font-weight-bolder mr-2 mt-2">
                        <span class="svg-icon svg-icon-md">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                    <path d="M6.96323356,15.1775211 C6.62849853,15.5122561 6.08578582,15.5122561 5.75105079,15.1775211 C5.41631576,14.842786 5.41631576,14.3000733 5.75105079,13.9653383 L10.8939067,8.82248234 C11.2184029,8.49798619 11.7409054,8.4866328 12.0791905,8.79672747 L17.2220465,13.5110121 C17.5710056,13.8308912 17.5945795,14.3730917 17.2747004,14.7220508 C16.9548212,15.0710098 16.4126207,15.0945838 16.0636617,14.7747046 L11.5257773,10.6149773 L6.96323356,15.1775211 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.500001, 12.000001) scale(-1, 1) rotate(-270.000000) translate(-11.500001, -12.000001) " />
                                </g>
                            </svg>
                        </span>Voltar
                    </a>
                </div>
            </div>
            <!--end::Header-->
            <form class="form" id="idForm" asp-action="Index">
                <input hidden type="text" id="acao" name="acao" />
                <input hidden type="text" id="idUsuario" name="idUsuario" value="@ViewBag.IdUsuario" />
                <input hidden type="text" id="nomeUsuario" name="nomeUsuario" value="@ViewBag.NomeUsuario" />
                <input hidden type="text" id="idFinanceiroConta" name="idFinanceiroConta" value="@ViewBag.idFinanceiroConta" />

                <div class="card-body">
                    <!--begin::Row-->
                    <div class="row">
                        <div class="col-xl-1"></div>
                        <div class="col-xl-10 my-2">

                            <div class="row">
                                <label class="col-form-label col-3 text-lg-right text-left"></label>
                                <div class="col-9">
                                    <h6 class="text-dark font-weight-bold mb-7">Lançamento:</h6>
                                </div>
                            </div>

                            <!--begin::Group Data-->
                            <div class="form-group row">
                                <label class="col-form-label col-3 text-lg-right text-left">Data Contábil</label>
                                <div class="col-9">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="data" name="data" readonly="readonly" placeholder="Selecione uma data" value="" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar-check-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Group Data-->
                            <!--begin::Group Valor-->
                            <div class="form-group row">
                                <label class="col-form-label col-3 text-lg-right text-left">Valor</label>
                                <div class="col-6">
                                    <input class="form-control" type="text" name="valorRealString" id="valorReal" value="@(ViewBag.valorRealString != null ? ViewBag.valorRealString : "")" autocomplete="off" />
                                    @*<span class="form-text text-muted">Informe somente os numeros.</span>*@
                                </div>

                                <div class="col-3">
                                    <select class="form-control" id="sinal" name="sinal">
                                        <option selected="@(ViewBag.Sinal == "C" ? "selected" : " " )" value="C">Crédito</option>
                                        <option selected="@(ViewBag.Sinal == "D" ? "selected" : " " )" value="D">Débito</option>
                                    </select>
                                </div>
                                @*<span class="form-text text-muted">Informe somente os numeros.</span>*@
                            </div>
                            <!--end::Group Valor-->
                            <!--begin::Group Tipo-->
                            <div class="form-group row">
                                <label class="col-form-label col-3 text-lg-right text-left">Tipo</label>
                                <div class="col-9">
                                    @Html.DropDownList("idFinanceiroLancamentoTipo", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                @*<span class="form-text text-muted">Informe somente os numeros.</span>*@
                            </div>
                            <!--end::Group Tipo-->
                            <!--begin::Group Anuncio-->
                            <div class="form-group row">
                                <label class="col-form-label col-3 text-lg-right text-left">Anúncio</label>
                                <div class="col-9">
                                    @Html.DropDownList("idAnuncio", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                @*<span class="form-text text-muted">Informe somente os numeros.</span>*@
                            </div>
                            <!--end::Group Anuncio-->
                            <!--begin::Group Descrição-->
                            <div class="form-group row">
                                <label class="col-form-label col-3 text-lg-right text-left">Descrição</label>
                                <div class="col-9">
                                    <input class="form-control" type="text" id="descricao" name="descricao" value="@(Model != null ? Model.descricao : "")" />
                                </div>
                            </div>
                            <!--end::Group Descrição-->
                            <!--begin::Group Observação-->
                            <div class="form-group row">
                                <label class="col-form-label col-3 text-lg-right text-left">Observação</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="flaticon2-sheet text-dark"></i>
                                            </span>
                                        </div>
                                        <textarea class="form-control" id="observacao" name="observacao" rows="3">@(Model != null ? Model.observacao : "")</textarea>
                                    </div>
                                </div>
                            </div>
                            <!--end::Group Observação-->

                            <div class="separator separator-dashed mb-10"></div>
                            <div class="row">
                                <label class="col-form-label col-3 text-lg-right text-left"></label>
                                <div class="col-9">
                                    <h6 class="text-dark font-weight-bold mb-7">Autenticação:</h6>
                                </div>
                            </div>
                            <!--begin::Group Token-->
                            <div class="form-group row">
                                <label class="col-form-label col-3 text-lg-right text-left">Token</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="la la-key"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" id="token" name="token" placeholder="Insira o token que aparece no aplicativodo seu celular" required autocomplete="off" />
                                    </div>
                                    <span class="form-text text-muted">Verificação em duas etapas.</span>

                                </div>
                            </div>
                            <!--end::Group Token-->
                        </div>
                    </div>
                    <!--end::Row-->
                </div>

                <div class="card-footer d-flex justify-content-end  py-3">
                    <button type="submit" class="btn btn-light-success mr-2 mt-2 text-right salvar">
                        <i class="flaticon-edit-1"></i> Salvar
                    </button>
                    <button type="reset" class="btn btn-light-dark mr-2 mt-2 cancelar">
                        <i class="flaticon-cancel"></i> Cancelar
                    </button>
                    <a href='@Url.Action("Index", "Home")' class="btn btn-light-primary font-weight-bolder mr-2 mt-2">
                        <span class="svg-icon svg-icon-md">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                    <path d="M6.96323356,15.1775211 C6.62849853,15.5122561 6.08578582,15.5122561 5.75105079,15.1775211 C5.41631576,14.842786 5.41631576,14.3000733 5.75105079,13.9653383 L10.8939067,8.82248234 C11.2184029,8.49798619 11.7409054,8.4866328 12.0791905,8.79672747 L17.2220465,13.5110121 C17.5710056,13.8308912 17.5945795,14.3730917 17.2747004,14.7220508 C16.9548212,15.0710098 16.4126207,15.0945838 16.0636617,14.7747046 L11.5257773,10.6149773 L6.96323356,15.1775211 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.500001, 12.000001) scale(-1, 1) rotate(-270.000000) translate(-11.500001, -12.000001) " />
                                </g>
                            </svg>
                        </span>Voltar
                    </a>
                </div>
            </form>
        </div>
        <!--end::Card Lancamento-->
    </div>
    <!--end::Content-->
</div>
<!--end::Profile Overview-->
