@model AnuncioSaldoModel
@{
    ViewData["Title"] = "Campanhas - Alteração";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FinanceiroMoedaModel moeda = ViewBag.Moeda;
    string moedaSimbolo = moeda == null ? "R$" : moeda.simbolo;
    string moedaMask = moeda == null ? "R$ ###,###,###,##0.00" : moeda.simbolo + " " + moeda.mascara;
    string moedaMaskInput = moeda == null ? "R$ 9.999.999,99" : moeda.simbolo + " " + moeda.mascaraInput;
}
@section Header{}
@section Scripts
{
    <script src="@Url.Content("~/assets/js/pages/crud/forms/widgets/jquery-mask.js")"></script>
    <script>
        "use strict";
        var KTCampanha = function () {
            var _handleIdForm = function (e) {
                var validation;
                var form = KTUtil.getById('idForm');
                validation = FormValidation.formValidation(
                    form,
                    {
                        fields: {
                            nome: {
                                validators: {
                                    notEmpty: {
                                        message: 'Nome é necessário'
                                    }
                                }
                            },
                            tempoExibicao: {
                                validators: {
                                    notEmpty: {
                                        message: 'Entre com um valor'
                                    },
                                    digits: {
                                        message: 'O valor deve ser númerico'
                                    }
                                }
                            }
                        },
                        plugins: {
                            trigger: new FormValidation.plugins.Trigger(),
                            bootstrap: new FormValidation.plugins.Bootstrap(),
                            submitButton: new FormValidation.plugins.SubmitButton(),
                            defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                        }
                    }
                );
                $('.salvar').on('click', function (e) {
                    e.preventDefault();
                    validation.validate().then(function (status) {
                        if (status == 'Valid') {
                            KTApp.blockPage({
                                overlayColor: 'blue',
                                opacity: 0.1,
                                state: 'primary',
                                message: 'Aguarde...'
                            });
                            form.submit();
                        } else {
                            swal.fire({
                                text: "Desculpe, parece que foram detectados alguns erros, tente novamente...",
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "OK",
                                customClass: {
                                    confirmButton: "btn font-weight-bold btn-light-primary"
                                }
                            });
                            KTApp.unblockPage();
                        }
                    });
                });
                $(".cancelar").on('click', function (e) {
                    e.preventDefault();
                    Swal.fire({
                        title: "Tem certeza?",
                        text: "Todos os dados digitados serâo perdidos!",
                        icon: "warning",
                        showCancelButton: true,
                        cancelButtonText: "Não",
                        confirmButtonText: "Sim"
                    }).then(function (result) {
                        if (result.value) {
                            $(window.location).attr('href', '@Url.Action("Edit","Campanhas", new {id = Model.id })');
                        }
                    });
                });
                var avatar5 = new KTImageInput('imagem');
                avatar5.on('cancel', function (imageInput) {
                    swal.fire({
                        title: 'Image cancelada!',
                        icon: "warning",
                        type: 'success',
                        buttonsStyling: false,
                        confirmButtonText: 'ok',
                        confirmButtonClass: 'btn btn-primary font-weight-bold'
                    });
                });
                avatar5.on('remove', function (imageInput) {
                    swal.fire({
                        title: 'Imagem removida!',
                        icon: "warning",
                        type: 'error',
                        buttonsStyling: false,
                        confirmButtonText: 'ok',
                        confirmButtonClass: 'btn btn-primary font-weight-bold'
                    });
                });
                $(".todos").click(function (e) {
                    if ($(this).is(":checked")) {
                        $(".redes").prop("checked", false);
                    }
                });
                $(".redes").click(function (e) {
                    if ($(this).is(":checked")) {
                        $(".todos").prop("checked", false);
                    }
                });
                $("#totalExibicaoCalculo").inputmask('999.999.999.999', {numericInput: true });
                $("#horasDisponibilizadas").inputmask('999.999.999', { numericInput: true });
                $("#valorReal").on('change', function (e) { calculo() });
                $("#horasDisponibilizadas").on('change', function (e) { calculo() });
                $("#tempoExibicao").on('change', function (e) { calculo() });
                $("#valorReal").inputmask('@moedaMaskInput', { numericInput: true });
                $("#valorUnitario").inputmask('@moedaMaskInput', { numericInput: true });
                $(".numero").inputmask('999.999.999', { numericInput: true });
                $(".valor").inputmask('@moedaMaskInput', { numericInput: true });
            }
            return {
                // public functions
                init: function () {
                    _handleIdForm();
                }
            };
        }();
        jQuery(document).ready(function () {
            KTCampanha.init();
            calculo()
        });
        function calculo() {
            var horasDisponibilizadas = $('#horasDisponibilizadas').val();
            var valorReal = $("#valorReal").attr("data-valor");
            var tempoExibicao = $('#tempoExibicao option:selected').text()
            horasDisponibilizadas = horasDisponibilizadas.replaceAll('_', '').replaceAll('.', '').replaceAll(',', '');
            valorReal = parseFloat(valorReal.replaceAll('.', '').replaceAll(',', '.'));
            var resultUnitario = 0;
            if (horasDisponibilizadas > 0) {
                resultUnitario = valorReal / horasDisponibilizadas;
                resultUnitario = (Math.round(resultUnitario * 100) / 100).toFixed(2);
            }
            var totalExibicao = 0; horasDisponibilizadas
            if (tempoExibicao > 0) {
                totalExibicao = (horasDisponibilizadas * 3600) / tempoExibicao;
                totalExibicao = (Math.round(totalExibicao * 100) / 100);
            }
            $("#valorUnitario").val(resultUnitario);
            $("#valorUnitario").inputmask('@moedaMaskInput', { numericInput: true });
            $("#totalExibicaoCalculo").val(totalExibicao);
            $("#totalExibicaoCalculo").inputmask('999.999.999.999', { numericInput: true });
        }
    </script>
}
<!--begin::Card-->
<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">@ViewBag.AnuncioTipoNome - alteração</h3>
        </div>
        <div class="card-toolbar">
            @if (ViewBag.saldoPublicitario != null)
            {
                <button class="btn btn-bg-light mr-2 mt-2 text-right">
                    <i class="flaticon-coins"></i> Saldo: @ViewBag.saldoPublicitario
                </button>
            }
            <!--begin::Button-->
            <button type="submit" class="btn btn-success mr-2 mt-2 text-right salvar">
                <i class="flaticon-edit-1"></i> Alterar campanha
            </button>
            <button type="reset" class="btn btn-secondary mr-2 mt-2 cancelar">
                <i class="flaticon-cancel"></i> Cancelar
            </button>
            <a href='@Url.Action("Index", "Campanhas")' class="btn btn-primary font-weight-bolder mr-2 mt-2">
                <span class="svg-icon svg-icon-md">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                            <path d="M6.96323356,15.1775211 C6.62849853,15.5122561 6.08578582,15.5122561 5.75105079,15.1775211 C5.41631576,14.842786 5.41631576,14.3000733 5.75105079,13.9653383 L10.8939067,8.82248234 C11.2184029,8.49798619 11.7409054,8.4866328 12.0791905,8.79672747 L17.2220465,13.5110121 C17.5710056,13.8308912 17.5945795,14.3730917 17.2747004,14.7220508 C16.9548212,15.0710098 16.4126207,15.0945838 16.0636617,14.7747046 L11.5257773,10.6149773 L6.96323356,15.1775211 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.500001, 12.000001) scale(-1, 1) rotate(-270.000000) translate(-11.500001, -12.000001) " />
                        </g>
                    </svg>
                </span>Voltar
            </a>
            <!--end::Button-->
        </div>
    </div>
    <form class="form" id="idForm" asp-action="Edit" enctype="multipart/form-data">
        <div class="card-body">
            <!--begin::Group-->
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group row">
                        <label>Anúncio</label>
                        <div class="input-group">
                            <div class="image-input image-input-empty image-input-outline" id="imagem" style="width: 250px; height: 250px;">
                                <div class="image-input-wrapper backx250" style="width: 250px; height: 250px; @(ViewBag.UrlImage != null ? "background-image: url('" + ViewBag.UrlImage + "?id=" + Utils.Helpers.Chave() + "');" : "" )"></div>
                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                    <input name="imagem" type="file" accept=".png, .jpg, .jpeg .gif" />
                                    <input type="hidden" name="image_remove" />
                                </label>
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                            </div>
                        </div>
                        <span class="form-text text-muted">escolha a imagem da campanha</span>
                    </div>
                </div>
                <div class="col-lg-1">
                    &nbsp;
                </div>
                <div class="col-lg-8">
                    <!--begin::Group-->
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label>Nome da campanha</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="flaticon2-writing text-success"></i>
                                    </span>
                                </div>
                                <input class="form-control" name="nome" type="text" value="@(Model != null ? Model.nome : "")" />
                            </div>
                            <span class="form-text text-muted">nome que identifique sua campanha</span>
                        </div>
                        <div class="col-lg-6">
                            <label>Tempo de exibição</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="flaticon-time text-dark"></i>
                                    </span>
                                </div>
                                @Html.DropDownList("tempoExibicao", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <span class="form-text text-muted">em segundos</span>
                        </div>
                    </div>
                    <!--end::Group-->
                    <!--begin::Group-->
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label>Valor</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="flaticon-price-tag text-primary"></i>
                                    </span>
                                </div>
                                <input type='text' class="form-control" name="valorRealString" id="valorReal" value="@(Model != null ? Model.valor != null ? Model.valor?.ToString("0.00") : "" : "")" data-valor="@(Model != null ? Model.valor != null ? Model.valor?.ToString("0.00") : "" : "")" />
                            </div>
                            <span class="form-text text-muted">valor em @moedaSimbolo para a campanha</span>
                        </div>
                        <div class="col-lg-6">
                            <label>Horas disponibilizadas</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="flaticon2-time text-info"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control text-left" name="horasDisponibilizadasString" id="horasDisponibilizadas" value="@(Model != null ? Model.horasDisponibilizadas : "")" />
                            </div>
                            <span class="form-text text-muted">nº de horas para a campanha</span>
                        </div>
                    </div>
                    <!--end::Group-->
                    <!--end::Group-->
                    <!--begin::Group Status e Redes sociais-->
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label class="form-control-label">Status</label>
                            <div class="radio-inline">
                                <label class="radio radio-success">
                                    <input type="radio" name="idAnuncioSituacao" @(Model != null ? (Model.idAnuncioSituacao == 1 ? "checked='checked'" : "") : "checked='checked'") value="1" />
                                    <span></span>
                                    Ativo
                                </label>
                                <label class="radio radio-danger">
                                    <input type="radio" name="idAnuncioSituacao" value="2" @(Model != null ? (Model.idAnuncioSituacao == 2 ? "checked='checked'" : "") : "") />
                                    <span></span>
                                    Desativado
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>Redes sociais</label>
                            <div class="checkbox-inline">
                                @if (ViewBag.redeSocial != null)
                                {
                                    foreach (RedeSocialSelecionadoModel item in ViewBag.redeSocial)
                                    {
                                        if (item.nome == "Todas")
                                        {
                                            <label class="checkbox checkbox-success font-weight-bold">
                                                <input type="checkbox" class="todos" value="@item.id" name="redesSociais" @(item.selecionado ? "checked='checked'" : "") />
                                                <span></span>
                                                <i class="flaticon2-grids mr-1 todas"></i>@item.nome
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="checkbox checkbox-success font-weight-bold">
                                                <input type="checkbox" class="redes" value="@item.id" name="redesSociais" @(item.selecionado ? "checked='checked'" : "") />
                                                <span></span>
                                                <i class="socicon-@item.nome.ToLower() @item.nome.ToLower() mr-1"></i>@item.nome
                                            </label>
                                        }
                                    }
                                }
                            </div>
                            <span class="form-text text-muted"></span>
                        </div>
                    </div>
                    <!--end::Group-->
                    <!--begin::Group Total de exibição e Valor unitário-->
                    @if (@ViewBag.AnuncioTipoId == (int)Utils.AnuncioTipo.Carrocel)
                    {
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Valor unitário</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="flaticon-coins text-primary"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control text-left bg-light" name="valorUnitario" id="valorUnitario" value="@(Model != null ? Model.valorUnitario : "")" disabled />
                                </div>
                                <span class="form-text text-muted">valor unitário por hora na campanha</span>
                            </div>
                            <div class="col-lg-6">
                                <label>Total de exibição</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="flaticon2-files-and-folders text-dark"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control text-left bg-light" name="totalExibicao" id="totalExibicaoCalculo" value="@(Model != null ? Model.totalExibicao : "")" disabled />
                                </div>
                                <span class="form-text text-muted">número exibições da campanha</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <label>Valor Consumido</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="flaticon2-pie-chart-4 text-primary"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control text-left bg-light valor" name="valorConsumido" id="valorConsumido" value="@(Model != null ? Model.valorConsumido?.ToString("0.00") : "")" disabled />
                                </div>
                                <span class="form-text text-muted">valor já consumido</span>
                            </div>
                            <div class="col-lg-4">
                                <label>Exibições</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="flaticon-share text-dark"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control text-left bg-light numero" name="acessos" id="acessos" value="@(Model != null ? Model.acessos : "")" disabled />
                                </div>
                                <span class="form-text text-muted">total de exibições já ocorridas</span>
                            </div>
                            <div class="col-lg-4">
                                <label>Horas Consumidas</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="flaticon2-crisp-icons-1 text-dark"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control text-left bg-light" name="tempoExibido" id="tempoExibido" value="@(Model != null ? (Model.totalTempoExibido / 3600).ToString("###,###,##0") : "")" disabled />
                                </div>
                                <span class="form-text text-muted">horas já consumidas</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Total de exibição</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="flaticon2-files-and-folders text-dark"></i>
                                        </span>
                                    </div>
                                    @Html.DropDownList("totalExibicao", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <span class="form-text text-muted">número máximo de exibições</span>
                            </div>
                        </div>
                    }
                    <!--begin::Group Observação-->
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label>Observação</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="flaticon2-sheet text-dark"></i>
                                    </span>
                                </div>
                                <textarea class="form-control" name="observacao" rows="3">@(Model != null ? Model.observacao : "")</textarea>
                            </div>
                            <span class="form-text text-muted"></span>
                        </div>
                    </div>
                    <!--end::Group-->
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button type="submit" class="btn btn-success mr-2 mt-2 text-right salvar">
                <i class="flaticon-edit-1"></i> Alterar campanha
            </button>
            <button type="reset" class="btn btn-secondary mr-2 mt-2 cancelar">
                <i class="flaticon-cancel"></i> Cancelar
            </button>
            <a href='@Url.Action("Index", "Campanhas")' class="btn btn-primary font-weight-bolder mr-2 mt-2">
                <span class="svg-icon svg-icon-md">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                            <path d="M6.96323356,15.1775211 C6.62849853,15.5122561 6.08578582,15.5122561 5.75105079,15.1775211 C5.41631576,14.842786 5.41631576,14.3000733 5.75105079,13.9653383 L10.8939067,8.82248234 C11.2184029,8.49798619 11.7409054,8.4866328 12.0791905,8.79672747 L17.2220465,13.5110121 C17.5710056,13.8308912 17.5945795,14.3730917 17.2747004,14.7220508 C16.9548212,15.0710098 16.4126207,15.0945838 16.0636617,14.7747046 L11.5257773,10.6149773 L6.96323356,15.1775211 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.500001, 12.000001) scale(-1, 1) rotate(-270.000000) translate(-11.500001, -12.000001) " />
                        </g>
                    </svg>
                </span>Voltar
            </a>
        </div>
    </form>
</div>
<!--end::Card-->
