@model IList<AnuncioSaldoModel>
@{
    ViewData["Title"] = "Campanhas";
    ViewData["SubTitle"] = "lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<AnuncioAuxiliarModel> listaRedeSocial = ViewBag.ListaRedeSocial;
    FinanceiroMoedaModel moeda = ViewBag.Moeda;
    string moedaSimbolo = moeda == null ? "R$" : moeda.simbolo;
    string moedaMask = moeda == null ? "R$ ###,###,###,##0.00" : moeda.simbolo + " " + moeda.mascara;
}
@section Header {}
@section Scripts
{
    <script src="@Url.Content("~/assets/js/pages/crud/forms/widgets/jquery-mask.js")"></script>
    <script type="text/javascript">
        "use strict";
        var KTCampanha = function () {
            var campanha = function () {  
                $(".valor").mask("@moedaMask", {
                    reverse: false
                });
            }
            return {
                // public functions
                init: function () {
                    campanha();
                }
            };
        }();

        $(".excluir").click(function (e) {
            var id = this.id;
            Swal.fire({
                title: "Tem certeza?",
                text: "que deseja excluir esse item!",
            icon: "warning",
                showCancelButton: true,
                cancelButtonText: "Cancelar",
                confirmButtonText: "Sim, excluir!"
            }).then(function (result) {
                if (result.value) {
                    KTApp.blockPage({
                        opacity: 0.5,
                        overlayColor: '#000000',
                        state: 'danger',
                        size: 'lg',
                        message: 'Aguarde...'
                    });
                    $.post('@Url.Action("delete", "campanhas")', { id: id }, function (data) {
                        KTApp.unblockPage();
                        if (data == 'ok') {
                            Swal.fire(
                                "Excluido!",
                                "Esse item foi excluido.",
                                "success"
                            ).then(function () {
                                $(window.location).attr('href', '@Url.Content("~/Campanhas")');
                            });
                        }
                        else {
                            swal.fire({
                                html: "Desculpe, n\u00e3o foi poss\u00edvel excluir o registro, motivo: <br /><br/><span style='color: #FF3333;'>" + data + "</ span>",
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "Ok!",
                                customClass: {
                                    confirmButton: "btn font-weight-bold btn-light-primary"
                                }
                            });
                        }
                    });
                }
            });
        });
        function BuscaRedesSociais(idAnuncio) {
            var empresa = $('#mensagensEditEmpresa').val();
            if (empresa != '') {
                $.post('@Url.Action("redessociais", "campanhas")', { idAnuncio: idAnuncio }, function (data) {
                   if (data != null) {
                        return data;
                    }
                });
            }
        }

    </script>
}
<!--begin::Card-->
<div class="card card-custom gutter-b principal">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">@ViewData["Title"]</h3>
        </div>
        <div class="card-toolbar">
            @if (ViewBag.saldoPublicitario != null)
            {
                <button class="btn btn-light-info mr-2 text-right">
                    <i class="flaticon-coins"></i> Saldo: @ViewBag.saldoPublicitario
                </button>
            }
            <!--begin::Button-->
            <a href='@Url.Action("Create", "Campanhas", new {@id = 0})' class="btn btn-success font-weight-bolder">
                <span class="svg-icon svg-icon-md">
                    <!--begin::Svg Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                            <path d="M11,11 L11,7 C11,6.44771525 11.4477153,6 12,6 C12.5522847,6 13,6.44771525 13,7 L13,11 L17,11 C17.5522847,11 18,11.4477153 18,12 C18,12.5522847 17.5522847,13 17,13 L13,13 L13,17 C13,17.5522847 12.5522847,18 12,18 C11.4477153,18 11,17.5522847 11,17 L11,13 L7,13 C6.44771525,13 6,12.5522847 6,12 C6,11.4477153 6.44771525,11 7,11 L11,11 Z" fill="#000000" />
                        </g>
                    </svg><!--end::Svg Icon-->
                    <!--end::Svg Icon-->
                </span>Nova campanha
            </a>
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                double consumido = 0;
                consumido = (double)(item.totalTempoExibido) / ((double)(item.horasDisponibilizadas ?? 1.0) * 36.0);
                if (consumido > 100)
                {
                    consumido = 100;
                }
                string colorProgressBar;
                switch (consumido)
                {
                    case < 45:
                        colorProgressBar = "bg-success";
                        break;
                    case > 75:
                        colorProgressBar = "bg-danger";
                        break;
                    default:
                        colorProgressBar = "bg-warning";
                        break;
                }
                <!--begin::Card-->
                <div class="card card-custom gutter-b">
                    <div class="card-body">
                        <div class="d-flex">
                            <!--begin: Pic-->
                            <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                                <div style="width: 120px; height: 120px;">
                                    <img src="@(Local.Configuracao("URL_CDN") + "propaganda/" + item.propaganda + "?id=" + Utils.Helpers.Chave())" class="imgx120">
                                </div>
                            </div>
                            <!--end: Pic-->
                            <!--begin: Info-->
                            <div class="flex-grow-1">
                                <!--begin: Title-->
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="mr-3">
                                        <!--begin::Name-->
                                        <a href="#" class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                            @item.nome
                                        </a>
                                        <!--end::Name-->
                                        <!--begin::Campanhas-->
                                        <div class="d-flex flex-wrap my-2">
                                            <span class="text-muted font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                                <span class="navi-icon">
                                                    @if (item.idAnuncioSituacao == 1)
                                                    {
                                                        <span class="svg-icon svg-icon-ativo">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24" />
                                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                                    <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z" fill="#000000" fill-rule="nonzero" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="svg-icon svg-icon-naoatvo">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24" />
                                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                                    <path d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z" fill="#000000" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    }
                                                </span>
                                                <span class="navi-text font-size-lg">@((Utils.Situacao)item.idAnuncioSituacao)</span>
                                            </span>
                                            <span class="text-muted font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                                <span class="navi-icon">
                                                    <span class="svg-icon svg-icon-@listaRedeSocial.Single(x => x.id == item.id).tipoNome.ToLower()">
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            @Html.Raw(listaRedeSocial.Single(x => x.id == item.id).tipoIcone)
                                                        </svg>
                                                    </span>
                                                </span>
                                                <span class="navi-text font-size-lg">@listaRedeSocial.Single(x => x.id == item.id).tipoNome</span>
                                            </span>
                                            <span class="text-muted font-weight-bold pt-1  mr-1">
                                                @Html.Raw(listaRedeSocial.Single(x => x.id == item.id).redeSocial)
                                            </span>
                                            <span class="text-muted font-weight-bold  pt-0">
                                                <span class="navi-text font-size-lg">Redes sociais</span>
                                            </span>
                                        </div>
                                        <!--end::Campanhas-->
                                    </div>
                                    <!--begin: Actions-->
                                    <div class="my-lg-0 my-1">
                                        <a href='@Url.Action("Edit", "Campanhas", new { @id = item.id })' class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2" title="Edit details">
                                            <span class="svg-icon svg-icon-md">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) " />
                                                        <path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                        <a href="javascript:;" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon excluir" title="Remover" value="@item.id" id="@item.id">
                                            <span class="svg-icon svg-icon-md">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero" />
                                                        <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3" />
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                    <!--end::Actions-->
                                </div>
                                <!--end: Title-->
                                <!--begin: Content-->
                                <div class="d-flex align-items-center flex-wrap justify-content-between">
                                    <div class="flex-grow-1 font-weight-bold text-dark-50 py-5 py-lg-2 mr-5">
                                        @if (!String.IsNullOrEmpty(item.observacao))
                                        {
                                            <span>Observação:</span>
                                            <br />@item.observacao
                                        }
                                    </div>
                                    <div class="d-flex flex-wrap align-items-center py-2">
                                        <div class="flex-grow-1 flex-shrink-0 w-150px w-xl-300px mt-4 mt-sm-0">
                                            <span class="font-weight-bold">Consumido</span>
                                            <div class="progress progress-xs mt-2 mb-2">
                                                <div class="progress-bar @colorProgressBar" role="progressbar" style="width: @(consumido.ToString("N1").Replace(",", ".") + "%");" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <span class="font-weight-bolder text-dark">@consumido.ToString("N1")%</span>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Content-->
                            </div>
                            <!--end: Info-->
                        </div>
                        <div class="separator separator-solid my-7"></div>
                        <!--begin: Items-->
                        <div class="d-flex align-items-center flex-wrap">
                            <!--begin: Item Criacao-->
                            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                <span class="mr-4">
                                    <i class="flaticon-calendar-with-a-clock-time-tools icon-2x text-muted font-weight-bold"></i>
                                </span>
                                <div class="d-flex flex-column text-dark-75">
                                    <span class="font-weight-bolder font-size-sm">Criado em</span>
                                    <span class="font-weight-bolder font-size-h5">
                                        @item.criacao.ToString("dd/MM/yyyy")
                                    </span>
                                </div>
                            </div>
                            <!--end: Item-->
                            <!--begin: Item Tempo de Exibicao-->
                            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                <span class="mr-4">
                                    <i class="flaticon-time icon-2x text-muted font-weight-bold"></i>
                                </span>
                                <div class="d-flex flex-column text-dark-75">
                                    <span class="font-weight-bolder font-size-sm">Tempo exibição</span>
                                    <span class="font-weight-bolder font-size-h5">
                                        @item.tempoExibicao<span> seg</span>
                                    </span>
                                </div>
                            </div>
                            <!--end: Item-->
                            <!--begin: Item Valor-->
                            @if (@item.valor != null)
                            {
                                <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                    <span class="mr-4">
                                        <i class="flaticon-price-tag icon-2x text-muted font-weight-bold"></i>
                                    </span>
                                    <div class="d-flex flex-column text-dark-75">
                                        <span class="font-weight-bolder font-size-sm">Valor</span>
                                        <span class="font-weight-bolder font-size-h5">
                                            @item.valor?.ToString(moedaMask)
                                        </span>
                                    </div>
                                </div>
                            }
                            <!--end: Item-->
                            <!--begin: Item Horas Disponibilizadas-->
                            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                <span class="mr-4">
                                    <i class="flaticon2-time icon-2x text-muted font-weight-bold"></i>
                                </span>
                                <div class="d-flex flex-column text-dark-75">
                                    <span class="font-weight-bolder font-size-sm">Horas disponibilizadas</span>
                                    <span class="font-weight-bolder font-size-h5">
                                        @item.horasDisponibilizadas?.ToString("#,###")
                                    </span>
                                </div>
                            </div>
                            <!--end: Item-->
                            <!--begin: Item valor unitario-->
                            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                <span class="mr-4">
                                    <i class="flaticon-coins icon-2x text-muted font-weight-bold"></i>
                                </span>
                                <div class="d-flex flex-column text-dark-75">
                                    <span class="text-dark-75 font-weight-bolder font-size-sm">Valor unitário</span>
                                    <span class="font-weight-bolder font-size-h5">
                                        @moedaSimbolo @item.valorUnitario?.ToString("0.00/h")
                                    </span>
                                </div>
                            </div>
                            <!--end: Item-->
                            <!--begin: Item Total de exibicaoes-->
                            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                <span class="mr-4">
                                    <i class="flaticon2-files-and-folders icon-2x text-muted font-weight-bold"></i>
                                </span>
                                <div class="d-flex flex-column text-dark-75">
                                    <span class="font-weight-bolder font-size-sm">Total de exibições</span>
                                    <span class="font-weight-bolder font-size-h5">
                                        @item.totalExibicao.ToString("#,###")
                                    </span>
                                </div>
                            </div>
                            <!--end: Item-->
                            <!--begin: Item Valor-->
                            @if (@item.totalTempoExibido != 0)
                            {
                                <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                    <span class="mr-4">
                                        <i class="flaticon2-crisp-icons-1 icon-2x text-muted font-weight-bold"></i>
                                    </span>
                                    <div class="d-flex flex-column text-dark-75">
                                        <span class="font-weight-bolder font-size-sm">Horas consumidas</span>
                                        <span class="font-weight-bolder font-size-h5">
                                            @((item.totalTempoExibido / 3600).ToString("###,###,##0")) h
                                        </span>
                                    </div>
                                </div>
                            }
                            <!--end: Item-->
                            <!--begin: Item Valor-->
                            @if (@item.acessos != 0)
                            {
                                <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                    <span class="mr-4">
                                        <i class="flaticon-share icon-2x text-muted font-weight-bold"></i>
                                    </span>
                                    <div class="d-flex flex-column text-dark-75">
                                        <span class="font-weight-bolder font-size-sm">Exibições</span>
                                        <span class="font-weight-bolder font-size-h5">
                                            @item.acessos
                                        </span>
                                    </div>
                                </div>
                            }
                            <!--end: Item-->
                            <!--begin: Item Valor consumido-->
                            @if (item.totalTempoExibido != 0 && item.valorUnitario != null)
                            {
                                <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                    <span class="mr-4">
                                        <i class="flaticon2-pie-chart-4 icon-2x text-muted font-weight-bold"></i>
                                    </span>
                                    <div class="d-flex flex-column text-dark-75">
                                        <span class="font-weight-bolder font-size-sm">Valor consumido</span>
                                        <span class="font-weight-bolder font-size-h5">
                                            @(item.valorConsumido?.ToString(moedaMask))
                                        </span>
                                    </div>
                                </div>
                            }
                            <!--end: Item-->
                        </div>
                        <!--end: Items-->
                    </div>
                </div>
            }
        }
        else
        {
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!--begin::Alert-->
                    <div class="alert alert-custom alert-light-danger fade show mb-10" role="alert">
                        <div class="alert-icon">
                            <span class="svg-icon svg-icon-3x svg-icon-danger">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Code/Info-circle.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                        <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1" />
                                        <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <div class="alert-text font-weight-bold">
                            Não há campanhas a serem exibidas...<br />
                            <br />...aproveite para criar uma agora! basta clicar na ícone <strong>Nova Campanha</strong> logo acima.
                        </div>
                    </div>
                    <!--end::Alert-->
                </div>
            </div>
        }
    </div>
</div>
<!--end::Card-->
